{{/*
生成嵌套 TOC
用法: {{ partial "toc.html" . }}
*/}}

{{- $flat := partial "toc/toc-extract-flat.html" .Content -}}

{{- if ge (len $flat) 2 -}}
{{- $minDepth := 9 -}}
{{- range $flat -}}
{{- if lt .depth $minDepth -}}{{- $minDepth = .depth -}}{{- end -}}
{{- end -}}

{{- $tree := partial "toc/toc-build-tree" (dict
"items" $flat
"index" 0
"minDepth" $minDepth
) -}}


<toc-heading slot="sidebar" x-data="component.toc()">
  <h2 class="font-medium">TABLE OF CONTENTS</h2>
  <ul class="mt-4">
    {{- range $tree.nodes -}}
    {{- partial "toc/toc-heading-item.html" . -}}
    {{- end -}}
  </ul>
</toc-heading>
{{- end -}}
<style>
  toc-heading .toc-item {
    display: flow-root;
  }
</style>