<toc-heading slot="sidebar">
    <h2 class='font-medium'>TABLE OF CONTENTS</h2>
    <ul class='mt-4'>
        <li>
            <div class='relative'>
                <span
                    class='absolute top-[5%] w-[2px] rounded transition-colors duration-300 [&.highlight-bg]:bg-primary [&.is-read]:bg-border'></span>
                <a aria-label="Scroll to section: Tools"
                    class="oc-item line-clamp-2 px-3 py-1 ms-2 text-foreground/75 transition-all hover:text-foreground [&.highlight]:font-medium [&.highlight]:text-primary [&.highlight-bg-translucent]:bg-muted ps-7"
                    href="#tools">Tools</a>
            </div>
        </li>
    </ul>
</toc-heading>