{{with .Site.Params.skills}}
<section class="flex flex-col gap-y-5 md:flex-row md:gap-y-0">
    <div class='text-xl font-medium md:min-w-36'>
        <h2>Skills</h2>
    </div>
    <div class='flex flex-1 flex-col gap-y-3'>
        <!-- section 内容 -->
        {{range .}}
        {{$items := slice }}
        {{ range .items }}{{ $items = $items | append (dict "name" .) }}{{ end }}
        {{$skills := dict
        "title" .title
        "skills" $items
        }}
        {{ partial "home/components/skills.html" $skills }}
        {{end}}
    </div>
</section>
{{end}}