<section class="flex flex-col gap-y-5 md:flex-row md:gap-y-0">
    <div class='text-xl font-medium md:min-w-36'>
        <h2>Website List</h2>
    </div>
    <div class='flex flex-1 flex-col gap-y-3'>
        <!-- section 内容 -->
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
            {{ partial "project-card.html" (dict
            "href" "https://www.example.com"
            "heading" "heading"
            "subheading" "subheading"
            "image" "https://ts1.tc.mm.bing.net/th?id=ORMS.8801372fff8c9b7a95b4a984edae4011"
            ) }}
            {{ partial "project-card.html" (dict
            "href" "https://www.example.com"
            "heading" "heading"
            "subheading" "subheading"
            "image" "https://ts1.tc.mm.bing.net/th?id=ORMS.8801372fff8c9b7a95b4a984edae4011"
            ) }}
            {{ partial "project-card.html" (dict
            "href" "https://www.example.com"
            "heading" "heading"
            "subheading" "subheading"
            "image" "https://ts1.tc.mm.bing.net/th?id=ORMS.8801372fff8c9b7a95b4a984edae4011"
            ) }}
            {{ partial "project-card.html" (dict
            "href" "https://www.example.com"
            "heading" "heading"
            "subheading" "subheading"
            "image" "https://ts1.tc.mm.bing.net/th?id=ORMS.8801372fff8c9b7a95b4a984edae4011"
            ) }}
        </div>
    </div>
</section>