<!-- title url desc github_url website_url docs_url package_url -->
{{$title:=.Get "title"}}
{{$url:=.Get "url"}}
{{$desc:=.Get "desc"}}
{{$github_url:=.Get "github_url"}}
{{$website_url:=.Get "website_url"}}
{{$docs_url:=.Get "docs_url"}}
{{$package_url:=.Get "package_url"}}

<div class="relative overflow-hidden rounded-xl border">
    <div class="relative z-10 flex flex-col gap-y-1 px-2 py-1.5 sm:px-3 sm:py-2"> <a
            class="line-clamp-1 font-medium text-foreground no-underline transition-colors" href="{{$url}}"
            target="_blank">{{$title}}</a>
        <div class="line-clamp-2 leading-snug text-muted-foreground sm:h-12">{{$desc}}</div>
        <div class="flex flex-row items-center gap-x-2 sm:gap-x-3">
            {{if $github_url}}
            <a href="{{$github_url}}" class="rounded-full bg-muted p-1 text-muted-foreground transition-colors sm:p-1.5"
                aria-label="github" target="_blank">
                <svg aria-hidden="true" class="size-5" width="22" height="22" style="--sl-icon-size: 1em;">
                    <use href='{{"icons/main.svg#github"|relURL}}' />
                </svg>
            </a>
            {{end}}
            {{if $website_url}}
            <a href="{{$website_url}}"
                class="rounded-full bg-muted p-1 text-muted-foreground transition-colors sm:p-1.5" aria-label="site"
                target="_blank">
                <svg aria-hidden="true" class="size-5" width="22" height="22" style="--sl-icon-size: 1em;">
                    <use href='{{"icons/main.svg#earth"|relURL}}' />
                </svg>
            </a>
            {{end}}
            {{if $docs_url}}
            <a href="{{$docs_url}}" class="rounded-full bg-muted p-1 text-muted-foreground transition-colors sm:p-1.5"
                aria-label="doc" target="_blank">
                <svg aria-hidden="true" class="size-5" width="22" height="22" style="--sl-icon-size: 1em;">
                    <use href='{{"icons/main.svg#doc"|relURL}}' />
                </svg>
            </a>
            {{end}}
            {{if $package_url}}
            <a href="{{$package_url}}"
                class="rounded-full bg-muted p-1 text-muted-foreground transition-colors sm:p-1.5" aria-label="release"
                target="_blank">
                <svg aria-hidden="true" class="size-5" width="22" height="22" style="--sl-icon-size: 1em;">
                    <use href='{{"icons/main.svg#package"|relURL}}' />
                </svg>
            </a>
            {{end}}
        </div>
    </div>
</div>