{{$info:=(dict
"Name" "超光速"
"Desc" "我们的征途是星辰大海"
"Link" "https://www.ftls.xyz/"
"Avatar" "https://ftls.xyz/img/avatar.webp"
)}}
{{$keys := slice "Name" "Desc" "Link" "Avatar"}} <!-- 定义顺序 -->
<blockquote x-data class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {{range $key := $keys}}
    <span class='text-end'>{{$key}}: </span>
    <samp class="cursor-pointer" @click='navigator.clipboard.writeText("{{index $info $key}}");Somnia.showToast(`Copied "{{index $info $key}}" to clipboard!`)'>{{index $info $key}}</samp>
    {{end}}
</blockquote>