<!--xxx,2010-01-01,platform,amount-->
{{$max := .Get "max" | default 100 }}
<div class="grid gap-3 sm:grid-cols-2 sm:gap-3.5 lg:grid-cols-3">
    <!-- [TODO] read list -->
    {{- $rows := split (trim .Inner "\n\r") "\n" -}}
    {{- range $rows -}}
    {{- if . -}}
    {{- $cols := split . "," -}}
    {{- if eq (len $cols) 4 -}}
    {{- $name := index $cols 0 -}}
    {{- $date := index $cols 1 -}}
    {{- $platform := index $cols 2 -}}
    {{- $amount := index $cols 3 -}}
    {{- $amount = trim $amount "\n\r" -}}
    <!-- 这里处理你的数据 -->
    <div class='sponsor-card relative h-full overflow-hidden rounded-xl border px-4 py-3'>
        <div class='font-medium mb-2 line-clamp-1'>{{ $name }}</div>
        <div class='text-xs text-muted-foreground'>
            {{ $date }} on {{ $platform }}
        </div>
        <!-- sponsor.amount -->
        <span class='absolute bottom-2 right-4 font-medium max-sm:text-lg'>{{ $amount }}</span>
        <!-- 计算 amount/max amount 为宽度百分比 -->
        {{ $percent := int (div (mul (int $amount) 100) $max) }}
        <div class='progress absolute h-full top-0 left-0 -z-10 bg-muted' style="width: {{ $percent }}%"></div>
    </div>
    {{- end -}}
    {{- end -}}
    {{- end -}}
</div>