<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}"
  style="--highlightColor: #203880;">

<head>
  {{ partial "head.html" . }}
  {{ partial "head/theme.html" . }}
</head>

<body class="flex justify-center bg-background text-foreground">
  <!-- 渐变背景 -->
  <div id='highlight-gradient' class='pointer-events-none absolute start-0 top-0 z-0 h-screen w-full opacity-25'
    style="background-image:linear-gradient(var(--highlightColor),transparent);" />
  </div>

  <!-- 主容器 -->
  <div id='main-container' class='w-full max-w-[70rem] min-h-[100dvh] flex flex-col justify-between'>

    {{ partial "header.html" . }}
    <div x-data="contentComponent()" id="content-wrapper" class="flex-1 w-full transition-fade"
      somnia-data='{{ if .Params.math  }}math{{ end }} {{ if .Params.mermaid }}mermaid{{ end }}'>
      {{ block "main" . }}{{ end }}
    </div>
    {{ partial "footer.html" . }}
  </div>
</body>

</html>