{{ define "main" }}
{{ partial "page/button.html" (dict
"title" "Back"
"href" ""
"variant" "back"
"class" "") }}
<main class='mt-6 lg:mt-10'>
  <div id='content-header' class='animate' aria-label='{{.Title}} post list'>
    <h1 class='mb-6 text-3xl font-medium'>{{.Title}}</h1>
  </div>
  <div id='content' class='animate'>
    <ul class='flex flex-col gap-y-3 text-start'>
      {{ range .Pages }}
      <!-- {{ partial "page/blog-preview.html" . }} -->
      {{ partial "page/blog-preview-lite.html" . }}
      {{ end }}
    </ul>
  </div>
</main>
{{ end }}