@charset "utf-8";

/* Reset */
@import "tailwind.css";
@import "app.css";
@import "main.css";
/* 代码块主题 */
@import "code/vs.css";
@import "code/onedark.css";
/* Unocss 生成 */
@import "uno.css";


/* @font-face {
  font-family: 'MapleMono';
  src: url('/fonts/MapleMono-NF-CN-Regular.woff2 ') format('woff2'),
       url('/fonts/MapleMono-NF-CN-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
} */

/* body {
  font-family: 'MapleMono', ui-sans-serif,system-ui,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
} */