{{ define "main" }}
{{ partial "page/nav.html" (dict "ctx" .
"title" "Back"
"href" ""
"variant" "back"
"class" "") }}
<main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
        <h1 class='mb-6 mt-6 text-3xl font-medium sm:mt-10'>Blog</h1>
    </div>
    <div class='grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8'>
        <section aria-label='Blog posts list' class='animate' id='content'>
            {{ $pages := where .Pages "Type" "posts" }}
            {{ $limit := .Site.Params.limit.blogPosts | default 5 }}
            {{ $paginator := .Paginate ($pages.ByDate.Reverse) $limit }} <!-- 按日期倒序，默认每页5篇 -->
            <!-- header -->
            <div class='mb-3 flex flex-col justify-between text-sm sm:mb-5 sm:flex-row'>
                <span class='text-muted-foreground'>
                    Page {{$paginator.PageNumber}} / {{$paginator.TotalPages}} - Showing {{ len $paginator.Pages }} of
                    {{$paginator.TotalNumberOfElements}} posts
                </span>
                <a aria-label='View all blog by years' href='{{"archives"| relURL}}'>
                    View all posts by years →
                </a>
            </div>
            <!-- [INFO] Posts -->
            <ul class='flex flex-col gap-y-4 text-start'>
                {{ range $paginator.Pages }}
                {{ partial "page/blog-preview.html" . }}
                {{ end }}
            </ul>
            <!-- [INFO] 分页-->
            <nav class='mt-4 flex items-center gap-x-4 sm:mt-6'>
                {{ if $paginator.HasPrev }}
                <a class='me-auto py-2' href="{{ $paginator.Prev.URL }}">
                    ← Previous Posts
                </a>
                {{ end }}
                {{ if $paginator.HasNext }}
                <a class='ms-auto py-2' href="{{ $paginator.Next.URL }}">
                    Next Posts →
                </a>
                {{ end }}
            </nav>

        </section>
        <!-- Siderbar -->
        <aside class='animate' id='sidebar'>
            <!-- Categories -->
            <h2 class='mb-4 flex items-center text-lg font-medium'>
                <svg aria-hidden="true" class="me-2" width="22" height="22" style="--sl-icon-size: 1em;">
                    <use href='{{"icons/main.svg#box"|relURL}}' />
                </svg>
                Categories
            </h2>
            <ul class='text-bgColor flex flex-wrap gap-2'>
                {{ $categories := .Site.Taxonomies.categories }}
                {{ $limit := .Site.Params.limit.blogCategories | default 10 }}
                {{ range first $limit $categories.ByCount }}
                <li>
                    <a class="group inline-flex items-center gap-x-1 rounded-lg bg-muted border px-2 py-1 text-sm text-muted-foreground transition-all hover:bg-card no-underline rounded-xl"
                        href="{{ .Page.Permalink }}">
                        <p class="my-0">{{ .Page.Title }}
                            <sup>{{ .Count }}</sup>
                        </p>
                    </a>
                </li>
                {{ end }}
            </ul>
            <span class='mt-4 mb-4 block sm:text-end'>
                <a aria-label='View all blog categories' href={{ "categories" | relURL }}>
                    View all →
                </a>
            </span>
            <!-- Tags -->
            <h2 class='mb-4 flex items-center text-lg font-medium'>
                <svg aria-hidden="true" class="me-2" width="22" height="22" style="--sl-icon-size: 1em;">
                    <use href='{{"icons/main.svg#tags"|relURL}}' />
                </svg>
                Tags
            </h2>
            <ul class='text-bgColor flex flex-wrap gap-2'>
                {{ $tags := .Site.Taxonomies.tags }}
                {{ $limit := .Site.Params.limit.blogTags | default 50 }}
                {{ range first $limit $tags.ByCount }}
                <li>
                    <a class="group inline-flex items-center gap-x-1 rounded-lg bg-muted border px-2 py-1 text-sm text-muted-foreground transition-all hover:bg-card no-underline rounded-xl"
                        href="{{ .Page.Permalink }}">
                        <p class="my-0">{{ .Page.Title }}
                            <sup>{{ .Count }}</sup>
                        </p>
                    </a>
                </li>
                {{ end }}
            </ul>
            <span class='mt-4 block sm:text-end'>
                <a aria-label='View all blog categories' href={{ "tags" | relURL }}>
                    View all →
                </a>
            </span>
        </aside>
    </div>
</main>
{{ end }}