<div class='article-info max-lg:mx-auto'>
    <div class='flex flex-wrap gap-x-4 gap-y-2 text-xs leading-6 text-muted-foreground'>
        <!-- Article date -->
        <div class='flex items-center gap-1'>
            <svg aria-hidden="true" class="size-5" width="22" height="22" style="--sl-icon-size: 1em;">
                <use href='{{"icons/main.svg#calendar"|relURL}}' />
            </svg>
            <span class="text-muted-foreground font-mono font-sans"> <time datetime="{{.Date.UTC}}">{{.Date.Format
                    "2006-01-02"}}</time>
            </span>
            <div class="flex items-center gap-1">
                <span> / </span>
                <span>
                    Update
                    <span class="text-muted-foreground font-mono font-sans">
                        <time datetime="{{.Lastmod.UTC}}">{{.Lastmod.Format "2006-01-02"}}</time>
                    </span>
                </span>
            </div>
        </div>
        <!-- 阅读时间 -->
        <div class="flex items-center gap-1">
            <svg aria-hidden="true" class="size-5" width="22" height="22" style="--sl-icon-size: 1em;">
                <use href='{{"icons/main.svg#time"|relURL}}' />
            </svg> {{.ReadingTime}} min </div>
        <!-- 语言 -->
        {{if .Params.language}}
        <span class="flex items-center gap-1">
            <svg aria-hidden="true" class="size-5" width="22" height="22" style="--sl-icon-size: 1em;">
                <use href='{{"icons/main.svg#earth"|relURL}}' />
            </svg>
            {{.Params.language}}
        </span>
        {{end}}
        <!-- Categories -->
        <span class="flex items-center gap-1">
            <svg aria-hidden="true" class="me-2" width="22" height="22" style="--sl-icon-size: 1em;">
                <use href='{{"icons/main.svg#box"|relURL}}' />
            </svg>
            {{ with .Params.categories }}
            {{ range $index, $categories := . }}
            <div>
                <a aria-label="View more blogs with the categories {{ $categories }}"
                    class="hover:underline hover:underline-offset-4" data-pagefind-filter="categories" href="{{ "categories/"
                    | relLangURL }}{{ $categories | urlize }}">
                    {{ $categories }}
                </a>
                {{ if ne $index (sub (len $.Params.categories) 1) }} / {{ end }}
            </div>
            {{ end }}
            {{ else }}
            <!-- 如果没有标签，可以显示提示或留空 -->
            <div>
                <span class="hover:underline hover:underline-offset-4">No categories available</span>
            </div>
            {{ end }}
        </span>
        <!-- Tags -->
        <span class="flex items-center gap-1">
            <svg aria-hidden="true" class="size-5" width="22" height="22" style="--sl-icon-size: 1em;">
                <use href='{{"icons/main.svg#tag"|relURL}}' />
            </svg>
            {{ with .Params.tags }}
            {{ range $index, $tag := . }}
            <div>
                <a aria-label="View more blogs with the tag {{ $tag }}" class="hover:underline hover:underline-offset-4"
                    data-pagefind-filter="tag" href="{{ "tags/" | relLangURL }}{{ $tag | urlize }}">
                    {{ $tag }}
                </a>
                {{ if ne $index (sub (len $.Params.tags) 1) }} / {{ end }}
            </div>
            {{ end }}
            {{ else }}
            <!-- 如果没有标签，可以显示提示或留空 -->
            <div>
                <span class="hover:underline hover:underline-offset-4">No tags available</span>
            </div>
            {{ end }}
        </span>
    </div>

    <h1 class='mt-4 text-2xl font-medium sm:mb-2 sm:mt-6 sm:text-3xl'>
        {{.Title}}
    </h1>

    <div class='mt-3 italic'>
        <blockquote class='text-sm text-muted-foreground'>
            <q>{{.Description|default "Without further ado"}}</q>
        </blockquote>
        <div class="text-base text-sm text-muted-foreground mt-1">
            <span id="busuanzi_value_page_pv">val</span> views
            | <a href="#comments">
                <span class="waline-comment-count" data-path="/blog"></span>
                comments
            </a>
        </div>
    </div>
</div>