<!-- [TODO] detailed false 待实现-->
<!-- <li class="post-preview" style="--preview-highlight:color-mix(in srgb,#9698C1 40%,hsl(var(--foreground)/var(--un-text-opacity,1)));--preview-highlight-bg:hsl(from #9698C1 h s l/20%)"> -->
<li x-data="blogPreviewComponent()" class="post-preview"
    :style="`--preview-highlight:color-mix(in srgb,${heroColor} 40%,hsl(var(--foreground)/var(--un-text-opacity,1)));--preview-highlight-bg:hsl(from ${heroColor} h s l/20%)`">

    <!-- 有 cover + max-md:pt-24 -->
    <a class="block w-full relative group rounded-2xl border bg-background transition-colors ease-in-out px-5 py-2.5 hover:bg-muted hover:text-primary max-sm:px-4 sm:py-5
    {{if .Params.featuredImage}} max-md:pt-24 {{end}}" href="{{.RelPermalink}}">
        {{if .Params.featuredImage }}
        <img src="{{.Params.featuredImagePreview|default .Params.featuredImage}}" alt="{{.Title}}" loading="lazy"
            decoding="async" fetchpriority="auto"
            onerror="this.src='{{"images/default.webp" | relURL}}'"
            class="cover-image absolute end-0 top-0 z-0 h-2/3 w-full rounded-2xl object-cover opacity-50 transition-opacity duration-300 group-hover:opacity-70 md:h-full md:w-3/5">
        {{end}}
        <div class="relative flex flex-col gap-1" style="z-index:1">
            <span class="text-muted-foreground font-mono min-w-[95px] text-xs">
                <time datetime="{{ .Date }}">
                    {{.Date.Format "2006-01-02" }}
                </time>
            </span>
            <!-- title -->
            <div class='flex justify-between flex-grow'>
                <div class="font-medium">
                    <!-- <span class='text-red-500'>(Draft) </span> -->
                    {{.Title}}
                </div>
                <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'
                    stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'
                    class='preview-redirect my-1 stroke-muted-foreground group-hover:stroke-primary'>
                    <line x1='5' y1='12' x2='19' y2='12'
                        class='translate-x-4 scale-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1 group-hover:scale-x-100'>
                    </line>
                    <polyline points='12 5 19 12 12 19'
                        class='translate-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1'>
                    </polyline>
                </svg>
            </div>

            <!-- Detail -->
            <!-- 有 cover + sm:me-24 -->
            <p
                class="line-clamp-2 text-sm text-muted-foreground sm:line-clamp-3 {{if .Params.featuredImage}} sm:me-24 {{end}}">
                {{.Description|default "Without further ado"}}
            </p>
            <div class='py-2 flex items-center gap-2 text-sm italic leading-4 text-muted-foreground'>
                <!-- Reading time -->
                <span class='flex items-center gap-1'>
                    <svg aria-hidden="true" class="size-4" width="22" height="22" style="--sl-icon-size: 1em;">
                        <use href='{{"icons/main.svg#time"|relURL}}' />
                    </svg>
                    {{.ReadingTime}} min
                </span>
                <!-- Language -->
                {{if .Params.language}}
                <span class='flex items-center gap-1'>
                    <svg aria-hidden="true" class="size-4" width="22" height="22" style="--sl-icon-size: 1em;">
                        <use href='{{"icons/main.svg#earth"|relURL}}' />
                    </svg>
                    {{.Params.language}}
                </span>
                {{end}}
            </div>
            <object title='Tags' aria-label='Tags' aria-labelledby='Tags'>
                <ul class='tag-list mt-1 flex gap-2'>
                    {{ with .Params.categories }}
                    {{ range $index, $categories := . }}
                    <li>
                        <a class="group inline-flex items-center gap-x-1 rounded-lg bg-muted border px-2 py-1 text-sm text-muted-foreground transition-all hover:bg-card no-underline rounded-xl"
                            href="{{ "categories" | relLangURL }}/{{ $categories | urlize }}">
                            <p class="my-0">{{ $categories }}</p>
                        </a>
                    </li>
                    {{ end }}
                    {{ end }}
                    {{if (and .Params.categories .Params.tags)}}{{end}}
                    {{ with .Params.tags }}
                    {{ range $index, $tag := . }}
                    <li>
                        <a class="group inline-flex items-center gap-x-1 rounded-lg bg-muted border px-2 py-1 text-sm text-muted-foreground transition-all hover:bg-card no-underline rounded-xl"
                            href="{{ "tags" | relLangURL }}/{{ $tag | urlize }}">
                            <p class="my-0">{{ $tag }}</p>
                        </a>
                    </li>
                    {{ end }}
                    {{ end }}

                </ul>
            </object>
        </div>
    </a>
</li>