<div x-data="copyrightComponent()" class="relative flex flex-col gap-y-2 rounded-xl border px-3 sm:px-4 py-2 sm:py-3">
  <svg aria-hidden="true" class="absolute end-4 top-4 size-20 opacity-10" width="22" height="22" style="--sl-icon-size: 1em;">
    <use href='{{"icons/main.svg#copyright"|relURL}}' />
  </svg>
  <!-- Title & link -->
  <div class='flex flex-col'>
    <div class='font-medium text-foreground'>{{.Title}}</div>
    <div class='text-sm'>{{.Permalink}}</div>
  </div>
  <!--Common info -->
  <div class='flex flex-row flex-wrap justify-start gap-x-5 gap-y-1 sm:gap-x-8'>
    <!-- Author -->
    <div class='flex gap-x-2 sm:flex-col'>
      <span>Author</span>
      <span class='text-sm text-foreground max-sm:place-self-center'>{{ .Params.author | default
        .Site.Params.author.name}}</span>
    </div>
    <!-- Published at -->
    <div class='flex gap-x-2 sm:min-w-16 sm:flex-col'>
      <span>Published at</span>
      <span class='text-sm text-foreground max-sm:place-self-center'>
        <time datetime="{{ .Date.Format " 2006-01-02T15:04:05-07:00" }}">
          {{ .Date.Format "2006年01月02日" }}
        </time>
      </span>
    </div>
    <!-- 许可证 -->
    <!-- 常用 © 2020 Name. CC BY-NC-SA CC0 PD -->
    <div class='flex gap-x-2 sm:flex-col'>
      <span>Copyright</span>
      {{ with .Params.license }}
      {{ if eq (lower .) "cc-by-nc-sa-4.0" }}
      <a class='text-sm text-foreground max-sm:place-self-center'
        href='https://creativecommons.org/licenses/by-nc-sa/4.0/' target='_blank'>
        CC BY-NC-SA 4.0
      </a>
      {{ else if eq (lower .) "cc-by-sa-4.0" }}
      CC BY-SA 4.0
      {{ else }}
      <!-- license  自定义许可证 -->
      <span>{{.}}</span>
      {{ end }}
      {{ else }}
      <a class='text-sm text-foreground max-sm:place-self-center'
        href='https://creativecommons.org/licenses/by-nc-sa/4.0/' target='_blank'>
        CC BY-NC-SA 4.0
      </a>
      <!-- <span class='text-sm text-foreground max-sm:place-self-center'>© {{ now.Format "2006" }} {{ .Params.author | default .Site.Params.author.name }} 版权所有</span> -->
      {{ end }}
    </div>
  </div>
  <!-- Functions -->
  <div class='relative'>
    <div class='flex flex-row gap-3'>
      <button id='copy-link' @click="copyLinkClick()" aria-label='Copy link'
        class='group rounded-full bg-muted p-1 text-muted-foreground transition-colors hover:text-primary sm:p-1.5'>
        <svg aria-hidden="true" class="size-5" width="22" height="22" style="--sl-icon-size: 1em;">
          <use href='{{"icons/main.svg#link"|relURL}}' />
        </svg>
      </button>
      <button id='get-qrcode' @click="getQRCodeClick()" aria-label='Get QR code'
        class='group rounded-full bg-muted p-1 text-muted-foreground transition-colors hover:text-primary sm:p-1.5'>
        <svg aria-hidden="true" class="size-5" width="22" height="22" style="--sl-icon-size: 1em;">
          <use href='{{"icons/main.svg#qrcode"|relURL}}' />
        </svg>
      </button>
      <!-- More Share -->
    </div>
    <!-- QRCode -->
    <div id="qrcode-container" :class="{'expanded':qrcodeShow}"
      class="absolute z-10 -mt-2 box-content max-h-0 max-w-44 overflow-hidden rounded-xl border bg-muted p-4 opacity-0 transition-all duration-300 ease-in-out"
      :title="window.location.origin + window.location.pathname">
      <!-- <img :src="qrcodeImgSrc" style="display: block;" alt="QRCode"> -->
    </div>
  </div>
</div>

<!-- 赞助 -->
<div class='mx-6 rounded-b-xl border border-t-0 px-3 pb-1.5 pt-1 sm:mx-8 sm:px-4'>
  <a href="{{"projects/#sponsorship"|relURL}}" class='flex items-center justify-between text-muted-foreground no-underline'>
    <span>Buy me a cup of coffee ☕.</span>
    <svg aria-hidden="true" class="box-content size-5 p-1" width="22" height="22" style="--sl-icon-size: 1em;">
      <use href='{{"icons/main.svg#sponsor"|relURL}}' />
    </svg>
  </a>
</div>
<style>
  #qrcode-container.expanded {
    max-height: 11rem;
    transform: translateY(4px);
    opacity: 100;
  }

  /* [Somnia-fix] 修复移动端二维码绘制到 canvas 导致使用默认尺寸 */
  #qrcode-container img,
  #qrcode-container canvas {
    /* width: 176px; */
    /* height: 176px; */
    max-width: 100%;
    height: auto;
  }
</style>
