<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<!-- Canonical URL-->
<link rel='canonical' href="{{ .Permalink }}" />

<meta name='color-scheme' content='light dark' />
<!-- Primary Meta Tags-->
<meta content="{{.Title}}" name='title' />
<meta content="{{.Description|default site.Params.description}}" name='description' />
<meta content="{{.Params.author|default site.Params.author.name}}" name='author' />
<meta name="application-name" content="{{ site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ site.Title }}">
<meta name="theme-color" content="#161b22">
<meta name="msapplication-TileColor" content="#da532c">
<!--  icons-->
{{partial "head/icons.html" .}}

<!-- [TODO] Font preloads-->
<!-- Article INFO -->
<meta content="{{.Params.author|default site.Params.author.name}}" property='article:author' />
<meta content="{{.Params.date}}" property='article:published_time' />

<!-- Open Graph -->
<meta property="og:url" content="{{.Permalink}}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}">
<meta property="og:description" content="{{.Description}}">
<meta property="og:locale" content="{{site.LanguageCode}}">
<meta property="og:type" content="{{if .IsHome}}website{{else}}article{{end}}">
<meta property="og:image" content='{{"logo.png"|absURL}}'>

<!-- Sitemap -->
<link href='{{absURL "sitemap.xml"}}' rel='sitemap' />
<!-- RSS auto-discovery -->
{{$title := cond .IsHome (site.Title) (printf "%s - %s" .Title site.Title)}}
{{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` "feed" .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
<!-- JSON Feed auto-discovery -->
{{ with .OutputFormats.Get "JSONFeed" }}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
<!-- Markdown auto-discovery -->
{{ with .OutputFormats.Get "markdown" }}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink $title | safeHTML }}
{{ end }}
{{ partial "head/json-ld.html" . }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<!-- 外部 libs -->
{{ partial "head/libs.html" . }}