<section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
    <img src='{{.Site.Params.author.avatar|default ""}}' alt="Avatar" class="h-28 w-auto rounded-full border p-1" loading="eager"
        width="256" height="256" fetchpriority="high" decoding="async">
    <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-medium'>{{.Site.Params.author.name|default .Site.Title}}</h1>

        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
            <!-- [TODO] 封装 Label 组件-->
            {{partial "home/components/location.html" . }}
            {{partial "home/components/github.html" . }}
        </div>
    </div>
    {{if not .Site.Params.author.github}}{{partial "home/components/get-template.html" . }}{{end}}
</section>