<!-- QRCode -->
{{$text:=.Get "text"}}
{{$class:=.Get "class"}}
<!-- 可能传入的 class inline-flex max-w-44 p-3 bg-muted rounded-lg border -->
<div x-data="{init(){Somnia.libs.qrcode.run({el:this.$el,opt:{text:this.$el.getAttribute('title')||'Somnia',width:256,height:256}})}}" class="{{$class}} qrcode-container-component" title="{{$text}}">
  <!-- <img :src="qrcodeImgSrc" style="display: block;" alt="QRCode"> -->
</div>
<style>
  /* [Somnia-fix] 修复移动端二维码绘制到 canvas 导致使用默认尺寸 */
  .qrcode-container-component img,
  .qrcode-container-component canvas {
    /* width: 176px; */
    /* height: 176px; */
    max-width: 100%;
    height: auto;
  }
</style>
<!--
<script>
  // for Somnia/layouts/shortcodes/qrcode.html
  // copyrightComponent 复制过来的
  function qrCodeComponent() {
    return {
      qrcodeImgSrc: '',
      init() {
        // 调用 API
        // this.qrcodeImgSrc = 'https://api.qrtool.cn/?text=' + window.location.origin + window.location.pathname;
        // 或者加载 js 生成
        Somnia.libs.qrcode.run({
          el: this.$el, opt: {
            text: this.$el.getAttribute('title') || 'Somnia',
            width: 256,
            height: 256,
          }
        })
      }
    }
  }
</script>
-->