<!-- QRCode -->
{{$text:=.Get "text"}}
{{$class:=.Get "class"}}
<!-- 可能传入的 class inline-flex max-w-44 p-3 bg-muted rounded-lg border -->
<div x-data="qrCodeComponent()" id="qrcode-container-component" class="{{$class}}" title="{{$text}}">
  <!-- <img :src="qrcodeImgSrc" style="display: block;" alt="QRCode"> -->
</div>
<script>
  // copyrightComponent 复制过来的
  function qrCodeComponent() {
    return {
      qrcodeInit: false,
      qrcodeImgSrc: "",
      init() {
        // 调用 API
        // this.qrcodeImgSrc = "https://api.qrtool.cn/?text=" + window.location.origin + window.location.pathname;
        // 或者加载 js 生成
        if (!this.qrcodeInit) {
          this.newQRCode();
          this.qrcodeInit = true;
        }
      },
      newQRCode() {
        // 创建 script 标签
        const script = document.createElement('script');
        script.src = 'https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js';
        script.onload = () => {
          // 加载后生成
          // console.log("New QRCode " + window.location.origin + window.location.pathname);
          new QRCode(document.getElementById("qrcode-container-component"), {
            text: window.location.origin + window.location.pathname,
            width: 256,
            height: 256,
          });
        };
        script.onerror = () => showToast("qrcode.min.js Script load failed");
        document.head.appendChild(script);
      },
    }
  }
</script>